In [48]:
import pandas_datareader.data as reader
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv
import math
import warnings
warnings.filterwarnings("ignore")

In [10]:
market = pd.read_csv('market_t_cpi_27_20.csv')  
market

,Date,market returns,90 Day Bill Returns,Rate of Change in Consumer Price Index
0,1/31/1927,0.002416,0.001413,-0.011299
1,2/28/1927,0.045370,0.002524,-0.005714
2,3/31/1927,0.003756,0.002959,-0.005747
3,4/30/1927,0.007225,0.002546,0.000000
4,5/31/1927,0.057773,0.003667,0.005780
...,...,...,...,...
1123,8/31/2020,0.068442,0.000069,0.003153
1124,9/30/2020,-0.035056,0.000099,0.001393
1125,10/30/2020,-0.020179,0.000067,0.000415
1126,11/30/2020,0.123707,0.000096,-0.000611
1127,12/31/2020,0.045049,0.000054,0.000941

In [24]:
alts = pd.read_csv('Housing_Oil_Gold_Data-3.csv')  
alts

,Calendar Date,Housing price,Oil Price (MCOILWTICO),gold price (GOLDPMGBD228NLBM)
0,12/31/1986,63.964,18.65,388.75
1,1/30/1987,64.423,17.75,400.50
2,2/27/1987,64.734,18.30,405.85
3,3/31/1987,65.132,18.68,421.00
4,4/30/1987,65.566,19.44,453.25
...,...,...,...,...
404,8/31/2020,225.925,39.63,1957.35
405,9/30/2020,229.338,39.40,1886.90
406,10/30/2020,232.571,40.94,1881.85
407,11/30/2020,235.576,47.02,1762.55
408,12/31/2020,238.627,52.00,1887.60

In [25]:
df_temp = pd.DataFrame(columns=['housing_returns', 'oil_returns', 'gold_returns'])
alts = alts.join(df_temp, how="outer")

for i in range(1, len(alts)):
    alts['housing_returns'][i] = (alts['Housing price'][i] - alts['Housing price'][i - 1]) / (alts['Housing price'][i - 1])
    alts['oil_returns'][i] = (alts['Oil Price (MCOILWTICO)'][i] - alts['Oil Price (MCOILWTICO)'][i - 1]) / (alts['Oil Price (MCOILWTICO)'][i - 1])
    alts['gold_returns'][i] = (alts['gold price (GOLDPMGBD228NLBM)'][i] - alts['gold price (GOLDPMGBD228NLBM)'][i - 1]) / (alts['gold price (GOLDPMGBD228NLBM)'][i - 1])

In [42]:
alts['housing_returns'] = alts['housing_returns'].fillna(0)
alts['oil_returns'] = alts['oil_returns'].fillna(0)
alts['gold_returns'] = alts['gold_returns'].fillna(0)
alts

,Calendar Date,Housing price,Oil Price (MCOILWTICO),gold price (GOLDPMGBD228NLBM),housing_returns,oil_returns,gold_returns
0,12/31/1986,63.964,18.65,388.75,0.000000,0.000000,0.000000
1,1/30/1987,64.423,17.75,400.50,0.007176,-0.048257,0.030225
2,2/27/1987,64.734,18.30,405.85,0.004827,0.030986,0.013358
3,3/31/1987,65.132,18.68,421.00,0.006148,0.020765,0.037329
4,4/30/1987,65.566,19.44,453.25,0.006663,0.040685,0.076603
...,...,...,...,...,...,...,...
404,8/31/2020,225.925,39.63,1957.35,0.014295,-0.064006,-0.003842
405,9/30/2020,229.338,39.40,1886.90,0.015107,-0.005804,-0.035993
406,10/30/2020,232.571,40.94,1881.85,0.014097,0.039086,-0.002676
407,11/30/2020,235.576,47.02,1762.55,0.012921,0.148510,-0.063395
408,12/31/2020,238.627,52.00,1887.60,0.012951,0.105912,0.070948

In [43]:
column_names = ["market", "treasury", "CPI", "oil", "gold", "housing"]
index_names = ["avg monthly rtn", "std dev", "skewness", "kurtosis"]

q1_df = pd.DataFrame(columns = column_names, index = index_names)
q1_df

                market treasury  CPI  oil gold housing
avg monthly rtn    NaN      NaN  NaN  NaN  NaN     NaN
std dev            NaN      NaN  NaN  NaN  NaN     NaN
skewness           NaN      NaN  NaN  NaN  NaN     NaN
kurtosis           NaN      NaN  NaN  NaN  NaN     NaN

## Average Monthly Return

In [63]:
def mean_calculator(data):
    return(sum(data) / len(data))

In [64]:
### would be able to cycle through this on a loop, more efficient, but data is in two separate tables bc of different time horizons :(

q1_df['market']['avg monthly rtn'] = mean_calculator(market['market returns'])
q1_df['treasury']['avg monthly rtn'] = mean_calculator(market['90 Day Bill Returns'])
q1_df['CPI']['avg monthly rtn'] = mean_calculator(market['Rate of Change in Consumer Price Index'])
q1_df['oil']['avg monthly rtn'] = mean_calculator(alts['oil_returns'])
q1_df['gold']['avg monthly rtn'] = mean_calculator(alts['gold_returns'])
q1_df['housing']['avg monthly rtn'] = mean_calculator(alts['housing_returns'])

In [65]:
q1_df

                   market  treasury       CPI       oil      gold   housing
avg monthly rtn  0.009341  0.002979    0.0024  0.007044  0.004834  0.003236
std dev           0.05354  0.002892  0.005266  0.095608  0.044014  0.004952
skewness              NaN       NaN       NaN       NaN       NaN       NaN
kurtosis              NaN       NaN       NaN       NaN       NaN       NaN

## Standard Deviation

In [67]:
def std_dev_calculator(mean, pop_size, dataset):
    temp_sum = 0

    for i in range(pop_size):
        temp_val = (mean - dataset[i])**2
        temp_sum += temp_val

    st_dev = math.sqrt(temp_sum/pop_size)
    return(st_dev)

In [68]:
q1_df['market']['std dev'] = std_dev_calculator(q1_df['market']['avg monthly rtn'], len(market['market returns']), market['market returns'])
q1_df['treasury']['std dev'] = std_dev_calculator(q1_df['treasury']['avg monthly rtn'], len(market['90 Day Bill Returns']), market['90 Day Bill Returns'])
q1_df['CPI']['std dev'] = std_dev_calculator(q1_df['CPI']['avg monthly rtn'], len(market['Rate of Change in Consumer Price Index']), market['Rate of Change in Consumer Price Index'])
q1_df['oil']['std dev'] = std_dev_calculator(q1_df['oil']['avg monthly rtn'], len(alts['oil_returns']), alts['oil_returns'])
q1_df['gold']['std dev'] = std_dev_calculator(q1_df['gold']['avg monthly rtn'], len(alts['gold_returns']), alts['gold_returns'])
q1_df['housing']['std dev'] = std_dev_calculator(q1_df['housing']['avg monthly rtn'], len(alts['housing_returns']), alts['housing_returns'])

In [69]:
q1_df

                   market  treasury       CPI       oil      gold   housing
avg monthly rtn  0.009341  0.002979    0.0024  0.007044  0.004834  0.003236
std dev           0.05354  0.002892  0.005266  0.095608  0.044014  0.004952
skewness              NaN       NaN       NaN       NaN       NaN       NaN
kurtosis              NaN       NaN       NaN       NaN       NaN       NaN

## Skewness

In [71]:
def skewness_calculator(std_dev, mean, pop_size, dataset):
    
    temp_sum = 0
    
    for i in range(pop_size):
        temp_val = (dataset[i] - mean)**3
        temp_sum += temp_val
    
    u3 = temp_sum / pop_size
    
    return(u3 / std_dev**3)

In [72]:
q1_df['market']['skewness'] = skewness_calculator(q1_df['market']['std dev'], q1_df['market']['avg monthly rtn'], len(market['market returns']), market['market returns'])
q1_df['treasury']['skewness'] = skewness_calculator(q1_df['treasury']['std dev'], q1_df['treasury']['avg monthly rtn'], len(market['90 Day Bill Returns']), market['90 Day Bill Returns'])
q1_df['CPI']['skewness'] = skewness_calculator(q1_df['CPI']['std dev'], q1_df['CPI']['avg monthly rtn'], len(market['Rate of Change in Consumer Price Index']), market['Rate of Change in Consumer Price Index'])
q1_df['oil']['skewness'] = skewness_calculator(q1_df['oil']['std dev'], q1_df['oil']['avg monthly rtn'], len(alts['oil_returns']), alts['oil_returns'])
q1_df['gold']['skewness'] = skewness_calculator(q1_df['gold']['std dev'], q1_df['gold']['avg monthly rtn'], len(alts['gold_returns']), alts['gold_returns'])
q1_df['housing']['skewness'] = skewness_calculator(q1_df['housing']['std dev'], q1_df['housing']['avg monthly rtn'], len(alts['housing_returns']), alts['housing_returns'])

In [75]:
q1_df

                   market  treasury       CPI       oil      gold   housing
avg monthly rtn  0.009341  0.002979    0.0024  0.007044  0.004834  0.003236
std dev           0.05354  0.002892  0.005266  0.095608  0.044014  0.004952
skewness         0.139327  1.373396  1.087805  0.800016  0.142945 -0.808977
kurtosis              NaN       NaN       NaN       NaN       NaN       NaN

## Kurtosis

In [78]:
def kurtosis_calculator(std_dev, mean, pop_size, dataset):
    
    temp_sum = 0
    
    for i in range(pop_size):
        temp_val = (dataset[i] - mean)**4
        temp_sum += temp_val
    
    u3 = temp_sum / pop_size
    
    return(u3 / std_dev**4)

In [79]:
q1_df['market']['kurtosis'] = kurtosis_calculator(q1_df['market']['std dev'], q1_df['market']['avg monthly rtn'], len(market['market returns']), market['market returns'])
q1_df['treasury']['kurtosis'] = kurtosis_calculator(q1_df['treasury']['std dev'], q1_df['treasury']['avg monthly rtn'], len(market['90 Day Bill Returns']), market['90 Day Bill Returns'])
q1_df['CPI']['kurtosis'] = kurtosis_calculator(q1_df['CPI']['std dev'], q1_df['CPI']['avg monthly rtn'], len(market['Rate of Change in Consumer Price Index']), market['Rate of Change in Consumer Price Index'])
q1_df['oil']['kurtosis'] = kurtosis_calculator(q1_df['oil']['std dev'], q1_df['oil']['avg monthly rtn'], len(alts['oil_returns']), alts['oil_returns'])
q1_df['gold']['kurtosis'] = kurtosis_calculator(q1_df['gold']['std dev'], q1_df['gold']['avg monthly rtn'], len(alts['gold_returns']), alts['gold_returns'])
q1_df['housing']['kurtosis'] = kurtosis_calculator(q1_df['housing']['std dev'], q1_df['housing']['avg monthly rtn'], len(alts['housing_returns']), alts['housing_returns'])

In [80]:
q1_df

                    market  treasury        CPI        oil      gold   housing
avg monthly rtn   0.009341  0.002979     0.0024   0.007044  0.004834  0.003236
std dev            0.05354  0.002892   0.005266   0.095608  0.044014  0.004952
skewness          0.139327  1.373396   1.087805   0.800016  0.142945 -0.808977
kurtosis         10.712416  6.775839  17.007476  13.469481  4.207103  4.519072

# Calculating Continuously Compounded Return from Discrete Returns

In [83]:
df_temp1 = pd.DataFrame(columns=['market_returns_cont'])
market = market.join(df_temp1, how="outer")

In [88]:
for i in range(len(market['market returns'])):
    market['market_returns_cont'][i] = np.log(1 + market['market returns'][i])

In [89]:
market

,Date,market returns,90 Day Bill Returns,Rate of Change in Consumer Price Index,market_returns_cont
0,1/31/1927,0.002416,0.001413,-0.011299,0.002413
1,2/28/1927,0.045370,0.002524,-0.005714,0.044371
2,3/31/1927,0.003756,0.002959,-0.005747,0.003749
3,4/30/1927,0.007225,0.002546,0.000000,0.007199
4,5/31/1927,0.057773,0.003667,0.005780,0.056166
...,...,...,...,...,...
1123,8/31/2020,0.068442,0.000069,0.003153,0.066202
1124,9/30/2020,-0.035056,0.000099,0.001393,-0.035685
1125,10/30/2020,-0.020179,0.000067,0.000415,-0.020385
1126,11/30/2020,0.123707,0.000096,-0.000611,0.116633
1127,12/31/2020,0.045049,0.000054,0.000941,0.044064

In [90]:
market_returns_cont_avg = sum(market['market_returns_cont']) / len(market['market_returns_cont'])

In [94]:
print(market_returns_cont_avg)
print(" is the average continuous monthly return, it's lower than average market discrete returns because it is continuously compounded")

0.007877260913354786
 is the average continuous monthly return, it's lower than average market discrete returns because it is continuously compounded

# Equity Risk Premium t-test

In [109]:
### H0: equity risk prem > 0 
### H1: reject H0

market_20 = pd.read_csv('market_t_cpi_00_20.csv')
df_temp2 = pd.DataFrame(columns=['equity risk prem', 'equity risk prem^2'])
market_20 = market_20.join(df_temp2, how="outer")
market_20

,DATE,market returns,90 Day Bill Returns,Rate of Change in Consumer Price Index,equity risk prem,equity risk prem^2
0,1/31/2001,0.039575,0.006900,0.006322,NaN,NaN
1,2/28/2001,-0.099084,0.003967,0.003998,NaN,NaN
2,3/30/2001,-0.070408,0.004678,0.002275,NaN,NaN
3,4/30/2001,0.083835,0.004470,0.003973,NaN,NaN
4,5/31/2001,0.010450,0.003853,0.004522,NaN,NaN
...,...,...,...,...,...,...
235,8/31/2020,0.068442,0.000069,0.003153,NaN,NaN
236,9/30/2020,-0.035056,0.000099,0.001393,NaN,NaN
237,10/30/2020,-0.020179,0.000067,0.000415,NaN,NaN
238,11/30/2020,0.123707,0.000096,-0.000611,NaN,NaN
239,12/31/2020,0.045049,0.000054,0.000941,NaN,NaN

In [110]:
for i in range(len(market_20['market returns'])):
    market_20['equity risk prem'] = market_20['market returns'] - market_20['90 Day Bill Returns']

for i in range(len(market_20['market returns'])):
    market_20['equity risk prem^2'] = market_20['equity risk prem']**2
    
market_20

,DATE,market returns,90 Day Bill Returns,Rate of Change in Consumer Price Index,equity risk prem,equity risk prem^2
0,1/31/2001,0.039575,0.006900,0.006322,0.032675,0.001068
1,2/28/2001,-0.099084,0.003967,0.003998,-0.103051,0.010620
2,3/30/2001,-0.070408,0.004678,0.002275,-0.075086,0.005638
3,4/30/2001,0.083835,0.004470,0.003973,0.079365,0.006299
4,5/31/2001,0.010450,0.003853,0.004522,0.006597,0.000044
...,...,...,...,...,...,...
235,8/31/2020,0.068442,0.000069,0.003153,0.068373,0.004675
236,9/30/2020,-0.035056,0.000099,0.001393,-0.035155,0.001236
237,10/30/2020,-0.020179,0.000067,0.000415,-0.020246,0.000410
238,11/30/2020,0.123707,0.000096,-0.000611,0.123611,0.015280
239,12/31/2020,0.045049,0.000054,0.000941,0.044995,0.002025

#### Calculate t-score

In [111]:
sum_dif = sum(market_20['equity risk prem'])
sum_squared_dif = sum(market_20['equity risk prem^2'])
sum_dif_squared = sum_dif**2
N = len(market_20['equity risk prem'])

t_score = (sum_dif / N) / math.sqrt((sum_squared_dif - (sum_dif_squared / N)) / ((N - 1) * N))

print("t_score = ", t_score)

t_score =  2.0217592341103034

In [112]:
degrees_freedom = len(market_20['equity risk prem']) - 1
print("degrees of freedom = ", degrees_freedom)

degrees of freedom =  239

Using t table and alpha = 0.05, we get t table value = 1.658 --> p value = .04931 < 0.05. Results are statistically significant, indicates strong evidence against the H0, less than a 5% probability the null is correct. We reject h0.

In [113]:
df_temp3 = pd.DataFrame(columns=['real return rate'])
market_20 = market_20.join(df_temp3, how="outer")

for i in range(len(market_20['market returns'])):
    market_20['real return rate'][i] = -1 + ((1 + market_20['90 Day Bill Returns'][i]) / (1 + market_20['Rate of Change in Consumer Price Index'][i]))

market_20

,DATE,market returns,90 Day Bill Returns,Rate of Change in Consumer Price Index,equity risk prem,equity risk prem^2,real return rate
0,1/31/2001,0.039575,0.006900,0.006322,0.032675,0.001068,0.000574
1,2/28/2001,-0.099084,0.003967,0.003998,-0.103051,0.010620,-0.000031
2,3/30/2001,-0.070408,0.004678,0.002275,-0.075086,0.005638,0.002398
3,4/30/2001,0.083835,0.004470,0.003973,0.079365,0.006299,0.000495
4,5/31/2001,0.010450,0.003853,0.004522,0.006597,0.000044,-0.000666
...,...,...,...,...,...,...,...
235,8/31/2020,0.068442,0.000069,0.003153,0.068373,0.004675,-0.003074
236,9/30/2020,-0.035056,0.000099,0.001393,-0.035155,0.001236,-0.001292
237,10/30/2020,-0.020179,0.000067,0.000415,-0.020246,0.000410,-0.000348
238,11/30/2020,0.123707,0.000096,-0.000611,0.123611,0.015280,0.000707
239,12/31/2020,0.045049,0.000054,0.000941,0.044995,0.002025,-0.000886

In [114]:
average_real_return_rate = sum(market_20['real return rate']) / len(market_20['real return rate'])
print("average real return rate = ", average_real_return_rate)

average real return rate =  -0.0004182606978463797

## Real Estate and Gold as an Investment